html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .page {
    padding: 40px 5%;
    color: black;
  }
  
  #first_page {
    padding: 40vh 5%;
  }
  
  .project_feature {
    padding-right: 55px;
  }
  
  table {
    width: 100%;
  }
  
  #skills_page {
    background-color: rgba(59, 59, 59, .2);
    backdrop-filter: blur(16px);
    padding: 30px;
    min-width: 800px;
    color: black;
    overflow: visible;
    border-radius: 25px;
  }
  
  .skills {
    width: 70%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 25px;
  }
  
  .skill {
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }
  
  .skills_grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    column-gap: 30px;
  }
  
  .about {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
  }
  
  .education {
    margin-top: 100px;
  }
  
  .grid-container {
    display: grid;
  }
  
  .block_grey {
    background-color: rgba(59, 59, 59, .2);
    backdrop-filter: blur(16px);
    padding: 10px 50px 40px 50px;
    min-width: 200px;
    color: black;
    border-radius: 25px;
  }
  
  .education_items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
  }
  
  .education_info {
    width: 50%;
    padding: 20px;
    background-color: rgba(59, 59, 59, .2);
    backdrop-filter: blur(16px);
    color: black;
    border-radius: 25px;
  }
  
  .experience_items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
  }
  
  .experience_info {
    width: 80%;
    padding: 20px;
    background-color: rgba(59, 59, 59, .2);
    backdrop-filter: blur(16px);
    color: black;
    border-radius: 25px;
  }
  
  #smallh3 {
    font-size: 1.7em;
  }
  
  iframe {
    width: 100%;
    height: 600px;
    border-radius: 25px;
  }
  
  h1 {
    font-size: 5.5em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  h4 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 1.3em;
  }
  
  .profile_pic {
    display: block;
    max-width: 220px;
    max-height: 320px;
    float: left;
    border-radius:25px;
    margin-right: 60px; 
    width: auto;
    height: auto;
}

.icon{
    width: 20%;
    float: left;
    padding: 20px;
    padding-left: 20px;
}
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #feffe0;
  overflow: hidden;
  z-index: -5;
}

.background span {
  width: 27vmin;
  height: 27vmin;
  border-radius: 27vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 28;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -5;
}


.background span:nth-child(0) {
  color: #fee89a;
  top: 29%;
  left: 62%;
  animation-duration: 82s;
  animation-delay: -60s;
  transform-origin: -1vw -18vh;
  box-shadow: 54vmin 0 7.726847127246747vmin currentColor;
}
.background span:nth-child(1) {
  color: #feedbe;
  top: 15%;
  left: 62%;
  animation-duration: 81s;
  animation-delay: -55s;
  transform-origin: 1vw -21vh;
  box-shadow: 54vmin 0 7.345629101978822vmin currentColor;
}
.background span:nth-child(2) {
  color: #feedbe;
  top: 40%;
  left: 11%;
  animation-duration: 25s;
  animation-delay: -213s;
  transform-origin: 21vw -21vh;
  box-shadow: 54vmin 0 7.523484133413158vmin currentColor;
}
.background span:nth-child(3) {
  color: #fee89a;
  top: 39%;
  left: 25%;
  animation-duration: 160s;
  animation-delay: -16s;
  transform-origin: 8vw 25vh;
  box-shadow: -54vmin 0 7.3298048676591865vmin currentColor;
}
.background span:nth-child(4) {
  color: #fee89a;
  top: 24%;
  left: 8%;
  animation-duration: 42s;
  animation-delay: -51s;
  transform-origin: 21vw -7vh;
  box-shadow: 54vmin 0 7.47316122655765vmin currentColor;
}
.background span:nth-child(5) {
  color: #feca9a;
  top: 93%;
  left: 44%;
  animation-duration: 175s;
  animation-delay: -44s;
  transform-origin: -8vw -12vh;
  box-shadow: -54vmin 0 7.595388494922518vmin currentColor;
}
.background span:nth-child(6) {
  color: #fee89a;
  top: 16%;
  left: 49%;
  animation-duration: 108s;
  animation-delay: -147s;
  transform-origin: -11vw 20vh;
  box-shadow: -54vmin 0 7.328846599172538vmin currentColor;
}
.background span:nth-child(7) {
  color: #fee89a;
  top: 58%;
  left: 28%;
  animation-duration: 194s;
  animation-delay: -191s;
  transform-origin: 7vw 3vh;
  box-shadow: -54vmin 0 7.001256277481543vmin currentColor;
}
.background span:nth-child(8) {
  color: #feca9a;
  top: 43%;
  left: 4%;
  animation-duration: 168s;
  animation-delay: -150s;
  transform-origin: 14vw 24vh;
  box-shadow: -54vmin 0 7.336616835401757vmin currentColor;
}
.background span:nth-child(9) {
  color: #fee89a;
  top: 31%;
  left: 71%;
  animation-duration: 174s;
  animation-delay: -163s;
  transform-origin: -1vw 24vh;
  box-shadow: 54vmin 0 7.1993905287357345vmin currentColor;
}
.background span:nth-child(10) {
  color: #feedbe;
  top: 14%;
  left: 50%;
  animation-duration: 107s;
  animation-delay: -26s;
  transform-origin: -22vw -7vh;
  box-shadow: -54vmin 0 6.854287660586091vmin currentColor;
}
.background span:nth-child(11) {
  color: #feca9a;
  top: 74%;
  left: 60%;
  animation-duration: 118s;
  animation-delay: -88s;
  transform-origin: 14vw 16vh;
  box-shadow: 54vmin 0 7.260069916057695vmin currentColor;
}
.background span:nth-child(12) {
  color: #feca9a;
  top: 20%;
  left: 5%;
  animation-duration: 164s;
  animation-delay: -24s;
  transform-origin: -17vw -8vh;
  box-shadow: 54vmin 0 6.9467466205867305vmin currentColor;
}
.background span:nth-child(13) {
  color: #fee89a;
  top: 78%;
  left: 45%;
  animation-duration: 95s;
  animation-delay: -207s;
  transform-origin: -9vw -13vh;
  box-shadow: -54vmin 0 7.668015196559363vmin currentColor;
}
.background span:nth-child(14) {
  color: #feedbe;
  top: 53%;
  left: 3%;
  animation-duration: 69s;
  animation-delay: -90s;
  transform-origin: 11vw 5vh;
  box-shadow: -54vmin 0 7.523500789930909vmin currentColor;
}
.background span:nth-child(15) {
  color: #feedbe;
  top: 97%;
  left: 9%;
  animation-duration: 15s;
  animation-delay: -103s;
  transform-origin: 6vw 3vh;
  box-shadow: -54vmin 0 7.468688682799927vmin currentColor;
}
.background span:nth-child(16) {
  color: #feca9a;
  top: 93%;
  left: 82%;
  animation-duration: 159s;
  animation-delay: -192s;
  transform-origin: 15vw 20vh;
  box-shadow: 54vmin 0 7.7137640563534955vmin currentColor;
}
.background span:nth-child(17) {
  color: #fee89a;
  top: 33%;
  left: 33%;
  animation-duration: 132s;
  animation-delay: -96s;
  transform-origin: -14vw 13vh;
  box-shadow: -54vmin 0 7.51421395573648vmin currentColor;
}
.background span:nth-child(18) {
  color: #feca9a;
  top: 99%;
  left: 89%;
  animation-duration: 15s;
  animation-delay: -131s;
  transform-origin: 5vw 25vh;
  box-shadow: -54vmin 0 7.3080168832028285vmin currentColor;
}
.background span:nth-child(19) {
  color: #fee89a;
  top: 71%;
  left: 30%;
  animation-duration: 133s;
  animation-delay: -56s;
  transform-origin: -18vw 16vh;
  box-shadow: -54vmin 0 7.196877794048968vmin currentColor;
}
