html{
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    padding-bottom: 40px;
    padding-left: 25%;
    padding-right: 25%;
}
#first_page{
    padding-top: 60vh;
    padding-bottom: 20vh;
}
.project_feature{
    padding-right:55px;
}
table{
    width: 100%;
}
#skills_page{
    background-color: #3B3B3B;
    padding-top: 10px;
    color: white;
    overflow: visible;
    border-radius:25px;
}
.skills{
    width: 70%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    color: black;
    display: flex;
    align-items:center;
    border-radius:25px;
}
.skill{
    font-size: 1.2em;
    display: flex;
    align-items:center;
}
.skills_grid{
    display: grid;
    grid-template-columns: repeat(3, 35%);
    justify-items:center;
    column-gap: 30px;
}
.about{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}
.education{
    margin-top: 100px;
}
.grid-container {
    display: grid;
  }
.block_grey{
    background-color: #3B3B3B;
    padding: 10px 50px 40px 50px;
    color: white;
    border-radius:25px;
}
.education_items{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items:center;
}
.education_info{
    width: 50%;
    padding: 20px;
    background-color: #3B3B3B;
    color: white;
    border-radius:25px;
}
.experience_items{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items:center;
}
.experience_info{
    width: 60%;
    padding: 20px;
    background-color: #3B3B3B;
    color: white;
    border-radius:25px;
}
#smallh3{
    font-size: 1.7em;
}
iframe{
    width:100%;
    height: 600px;
    border-radius:25px;
}
h1{
    font-size: 5.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}
h4{ 
    font-size: 1.5em;
}
p{
    font-size:1.3em;
}
.profile_pic{
    width: 20%;
    float: left;
    border-radius:25px;
    margin-right: 60px;
}

.icon{
    width: 20%;
    float: left;
    padding: 20px;
    padding-left: 20px;
}
